form {
   
    text-align: center;
    width: 30rem;
    margin: 3rem auto;
 
    padding: 1rem;
    border-radius: 6px;
}

ul{

    list-style: none;
    margin: 0;
    padding: 0;
    }

    li{
        text-align: center;
        margin-top: 1rem;
    }
     p {
       font-size: 0.8em;
       margin-left: 12.5rem;
    }
    
    label {
        
        display: block;
        margin-bottom: 0;
    }
    bottons{
       
    }

    button {
        font: inherit;
        background-color: rgb(73, 7, 148);
        color: white;
        border: 1px solid rgb(73, 7, 148);
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 3rem ;

    
    }
    button:hover{
        background-color: rgb(108, 35, 192);
        border-color: rgb(112, 64, 167);
    }

    label{
        margin-right: 14rem;
        font-style: italic;
    }
    
    input{
        width: 60%;
        height: 2rem;
        border-radius: 6px;
       
    }